
.contentempresa{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
img{
  filter: opacity(0.9);
  height: 300px;
  width: 100%;
}

.texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
